<body class="body-home">
  <div class="nav-div">
    <div class="my-journ">
      <%= image_tag "nav-icon.png", :class => "nav-img" %>
      <p>My Journal</p>
    </div>
    <nav class="nav-list">
      <ul class="nav-list">
        <li>About</li>
        <li>Feature</li>
        <li>Pricing</li>
        <li>Blog</li>
        <li>Support</li>
      </ul>
    </nav>
    </div>
</body>

<section>
  <div>
    <div class="title-div">
      <h1 class="main-title">Do things in order.</h1>
      <p class="sub-head">Be productive. Be organized.</p>
    </div>
    <div class="main-div">
      <%= image_tag "main-img.png", :class => "main-img" %>

      <div class="sign-in-div">
        <div class="placeholder-div">
          <input class="placeholder-email" type="text" placeholder="Email" name="email" required>
        </div>
        <div class="placeholder-div1">
          <input class="placeholder-pass" type="password" placeholder="Password" name="password" required>
        </div>

        <div class="btn-div">
          <button class="log-in-btn">Log in</button>
        </div>

        <div class="sign-up-div">
          <a class="sign-up" href="">Sign Up here</a>
        </div>
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="footer-div">
    <p>&copy 2022-2030 All rights reserved.</p>
  </div>
</footer>

# <% if user_signed_in? %> 
# <div> Welcome <%= current_user.email %> </div> 
# <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
# <% else %>
# <%= button_to "Sign in", new_user_session_path %> 
# <% end %>